---
---
<!doctype html>
<html>
	<head>
		{% include head.html %}
		<link href="css/about.css" rel="stylesheet">
	</head>
	<body>
		{% include header.html %}
		<article>
			<div class="container">
				<div class="banner">
					<p data-scroll-reveal="enter top over 2s">
						我不去想是否能够成功，既然选择了远方，便只顾风雨兼程
					</p>
					<p data-scroll-reveal="enter left over 2s after 1s">
						我不去想能否赢得爱情，既然钟情于玫瑰，就勇敢地吐露真诚
					</p>
					<p data-scroll-reveal="enter bottom over 2s after 2s">
						我不去想身后会不会袭来寒风冷雨，既然目标是地平线 ，留给世界的只能是背影
					</p>
					<p data-scroll-reveal="enter right over 2s after 3s">
						我不去想未来是平坦还是泥泞，只要热爱生命，一切 都在意料之中
					</p>
				</div>
				<div class="memorial_day">
					<div class="time_axis"></div>
					<ul>
						<li class="n1">
							<a class="n_dt">一</a>
							<div class="dateview">
								2015-03
							</div>
						</li>
						<li class="n2">
							<a class="n_dt">二</a>
							<div class="dateview">
								2015-07
							</div>
						</li>
						<li class="n3">
							<a class="n_dt">三</a>
							<div class="dateview">
								2016-03
							</div>
						</li>
						<li class="n5">
							<a class="n_dt">四</a>
							<div class="dateview">
								2017-12
							</div>
						</li>
					</ul>
				</div>
				<div class="about left">
					<h2>Just about this</h2>
					<ul>
						<p>
							不积跬步，无以至千里；不积小流，无以成江海；日常记录 (#_#)
						</p>
						
						<p>
							这条路，只有起点，没有终点。
						</p>
					</ul>
					<h2>About my blog</h2>
					<p>
						<a href="https://mr-lanlin.github.io/blog/">https://mr-lanlin.github.io/blog/</a> 创建于2017年12月14日
					</p>
				</div>
			</div>
			</aside>
		</article>
		{% include footer.html %}
		<script charset="UTF-8" type="text/javascript">
			document.getElementById("gy").className += " on";
			document.getElementById("about").firstChild.className = "on";
		</script>

	</body>
</html>
