---
---
<!doctype html>
<html>
	<head>
		{% include head.html %}
		<link href="css/m.css" rel="stylesheet">
		<link href="css/display.css" rel="stylesheet">
	</head>
	<body>
		{% include header.html %}
		<article>
			<div class="container">
				<iframe id="display_frame" width="100%" height="100%"></iframe>
			</div>
			<script src="js/display.js"></script>
		</article>
		{% include footer.html %}
		<script>
			if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
				(function() {
					window.scrollReveal = new scrollReveal({
						reset : true
					});
				})();
			}

			window.onload = function() {
				var displayframe = document.getElementById('display_frame');
				displayframe.style.height = displayframe.contentWindow.document.getElementsByTagName("body")[0].offsetHeight + 40 + "px";
				w = c.width = window.innerWidth - 30;
				h = c.height = document.getElementsByTagName("body")[0].offsetHeight - 920;
			}
		</script>
	</body>
</html>