---
title: My Blog
---
<!doctype html>
<html>
	<head>
		{% include head.html %}
		<link href="css/index.css" rel="stylesheet">
	</head>
	<body>
		{% include header.html %}
		
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
		
		<!-- <article>
			<div class="container">
				<div class="blog" data-scroll-reveal="enter top">
					<figure>
						<ul>
							<a href="#"><img src="images/code.jpg"><span>查看详情</span></a>
						</ul>
						<p>
							<a href="#">深入理解Java</a>
						</p>
						<figcaption>
							Java是一门面向对象编程语言，不仅吸收了C++语言的各种优点，还摒弃了C++里难以理解的多继承、指针等概念，因此Java语言具有功能强大和简单易用两个特征。Java语言作为静态面向对象编程语言的代表，极好地实现了面向对象理论...
						</figcaption>
					</figure>
					<figure>
						<ul>
							<a href="#"><img src="images/db1.jpg"><span>查看详情</span></a>
						</ul>
						<p>
							<a href="#">数据库原理</a>
						</p>
						<figcaption>
							数据库(Database)是按照数据结构来组织、存储和管理数据的仓库，它产生于距今六十多年前，随着信息技术和市场的发展，特别是二十世纪九十年代以后，数据管理不再仅仅是存储和管理数据，而转变成用户所需要的各种数据管理的方式...
						</figcaption>
					</figure>
					<figure>
						<ul>
							<a href="#"><img src="images/web.jpg"><span>查看详情</span></a>
						</ul>
						<p>
							<a href="#">Web前端知识</a>
						</p>
						<figcaption>
							前端对于网站来说，通常是指，网站的前台部分包括网站的表现层和结构层。因此前端技术一般分为前端设计和前端开发，前端设计一般可以理解为网站的视觉设计，前端开发则是网站的前台代码实现，包括基本的HTML和CSS以及JavaScript...
						</figcaption>
					</figure>
				</div>
				<ul class="cbp_tmtimeline">
					{% for post in site.posts %}
					<li>
						<time class="cbp_tmtime">
							<span>{{ post.mon-day }}</span><span>{{ post.year }}</span>
						</time>
						<div class="cbp_tmicon"></div>
						<div class="cbp_tmlabel"
						data-scroll-reveal="enter right over 1s">
							<h2>{{ post.title }}</h2>
							<p>
								<span class="blogpic"><a href="display.html?static{{ site.baseurl }}/source{{ post.url }}"><img
									src="images/t03.jpg"></a></span>{{ post.desc }}
							</p>
							<a href="display.html?static{{ site.baseurl }}/source{{ post.url }}" target="_blank"
							class="readmore">阅读全文&gt;&gt;</a>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</article> -->
		{% include footer.html %}
		<script>
			document.getElementById("sy").className += " on";
			document.getElementById("home").firstChild.className = "on";
			if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
				(function() {
					window.scrollReveal = new scrollReveal({
						reset : true
					});
				})();
			}
			;
		</script>
	</body>
</html>