<div class="dh_right">
	<div class="dh_fnt">
		<div id="sy" class="hv" onclick="document.getElementById('home').click()">
			· 首页
		</div>
		<div id="xx" class="hv" onclick="document.getElementById('learn').click()">
			· 学无止境
		</div>
		<div id="sh" class="hv" onclick="document.getElementById('life').click()">
			· 体验生活
		</div>
		<div id="gy" class="hv" onclick="document.getElementById('about').click()">
			· 关于我
		</div>
		<div class="hv" onclick="window.scrollTo(0,0);">
			· 回到顶部
		</div>
	</div>
</div>

<footer>
	<div style="position: relative;z-index: 100;">
		Where there's a will, there's a way.
	</div>
</footer>
<script src="js/index.js" defer="defer"></script>